/* start header and footer css  */
body {
  font-family: 'Montserrat', sans-serif !important;
}

.navbar-nav {
  list-style: none;
}

.banner {
  background-image: url(../images/Home/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.footer {
  padding: 60px 0px;
  background-color: #FF8E78;
  ;
}

.footer-icon1 {
  display: flex;

}

.footer-icon1 .i1 {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
  color: #FF8E78;
}

.footer-icon1 .i1:hover {
  border: 1px solid white;
  width: 36px;
  height: 36px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
}

.footer-icon2 .i2 i {
  font-size: 22px;
}

.footer-icon2 {
  display: flex;
}

.footer-text ul li {
  list-style: none;
}

.footer-text ul {
  padding: 0px;
}

.footer-text span {
  padding-left: 20px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li a {
  text-decoration: none;
  color: white;
}

.list1 {
  list-style: none;
  padding: 0;
  color: white;
}

.hover1 li:hover,
.hover1 li a:hover {
  color: black !important;
}

.navbar .nav-link {
  color: #FF8E78 !important;
}

.navbar-nav .nav-item {
  margin-left: 30px;
}

.navbar {
  padding: 30px 0px !important;
}

.btn-outline-success {
  color: #FF8E78 !important;
  border-color: #FF8E78 !important;
}

.btn-outline-success:hover {
  color: white !important;
  background-color: #FF8E78 !important;
  border-color: #FF8E78 !important;
}

.footer h5 {
  color: white;
}

.footer-text {
  color: white;
}

/* end footer css */

.para2 {
  color: white;
}

.about-us {
  background-color: #FF8E78;
  padding: 45px 0px;
  color: white;

}

.about-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s1{
  font-size: 24px;


}
.section1 {
  padding: 100px 0px;
}

.section2 {
  padding-bottom: 100px;
  background-color: #F5F5F5;
}

.heading2 {
  font-size: 36px;

}

.heading3 {
  text-align: center;
  padding: 50px 0px;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.icon i {
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  padding: 10px;

}

.icon i:hover {
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  transition: 0.5s;
  color: white;
}

.title {
  text-align: center;

}

.para1 {
  text-align: center;
  margin-bottom: 20px;
}

.color-text {
  color: #FF8E78;
  padding-bottom: 20px;
}

.icon1 {
  color: #FF8E78;
  font-size: 30px;
  background-color: #ffcec4;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  height: 60px;

}

.text2 {
  padding-left: 20px;

}

.text1 {
  display: flex;
  padding-top: 10px;

}

.para3 {
  font-size: 16px;

}

.text3 {
  display: flex;
  padding-top: 30px;
}

.s2 {
  color: #A4A4A4;
  font-size: 14px;
  text-transform: uppercase;
display: flex;
justify-content: center;
margin-top: 20px;

}
.p1{
text-align:center ;
font-size: 18px;
color: #FF8E78;
}
.heading4{
  font-size: 20px;
  text-align: center;
}
.icon-2{
 font-size: 40px;
 /* background-color: #FF8E78;
 padding: 10px 15px;
 border-radius: 5px; */
 color:#FF8E78;
 
}
.text4{
 margin: 0px 0px 70px 0px !important ;
}
.input{
  width:80%;
  padding: 10px 10px;
 margin-top: 50px;
}
.button-1{
  display: flex;
  margin-top: 50px;
  padding: 10px 60px;
  background-color: #FF8E78;
  color: white;
  border: #FF8E78;
}
.contact-form{
  border: 1px solid black;
  padding: 30px 10px;
  width: 80%;
}
.btn-1{
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact-icon{
  display: flex;
  margin-top: 30px;

}
.mobile{
  padding-left: 30px;
  margin-top: 25px;
  font-size: 18px;
}
.contact-heading{
font-size: 40px;
color: #FF8E78;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.logo-carousel {
  overflow: inherit;

}

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}


  
.row {
  overflow: hidden;
}  

/* JsFiddle Example only/don't use */
.logo-carousel {
  margin-top: 32px;
}


.active3{
  background-color: black;
  color: white;
}
#section2{
  display:none;
}
#section3{
  display:none;
}


.client-section .slider .slide{

}
.product .tab-button{
  list-style: none;
  color: black;
  display: flex;
  justify-content: center;


  
 
  
}
.product .tab-button a{
  text-decoration: none;
  
  padding: 20px 50px;
  border: 1px solid black;
  

}
.tab-button a:hover {
  color: white;

}
.product .tab-button a:first-child{
 border-right: none;

}



